.master {
    background: #f9f9f9;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    display: flex;
}

.logo .ls {
    display: none;
}

.logo img {
    width: 100%;
    vertical-align: middle;
}

.logo {
    width: 160px;
}

.header {
    padding: 20px 0;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #0009;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    display: flex;
    height: 40px;
    width: 300px;
}

.search-form input {
    width: 100%;
    padding: 0 0 0 15px;
    border-radius: 0;
    border: none;
    border-right: 0;
    outline: none;
    background: #e8e8e8;
}

.search-form button {
    border: none;
    background: red;
    color: #fff;
    min-width: 50px;
    font-size: 17px;
    cursor: pointer;
    transition-duration: .1s;
    transition-property: font-size;
}

.search-form input::placeholder {
    color: #5a5a5a;
}

.search-form button:hover {
    background: #ef0a0a;
}

.search-form button:active {
    font-size: 17px;
}

.sidebar {
    background: #fff;
    box-shadow: 0 0 10px #0009;
    max-width: 350px;
    margin-bottom: 20px;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.video-item img {
    width: 45%;
    margin-right: 10px;
}

.video-item {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.video-item:hover {
    background: #eee;
}

.results-count {
    margin: 0;
    padding: 10px;
}

.player-wrapper {
    max-width: calc(100% - 370px);
    background: #fff;
    box-shadow: 0 0 10px #0009;
    margin-bottom: 20px;
}

.video-detail {
    padding: 15px;
}

@media (max-width: 992px) {
    .main {
        flex-direction: column;
    }

    .player-wrapper {
        max-width: 100%;
    }

    .sidebar {
        max-width: 100%;
        width: 100%;
    }

    .video-item img {
        width: 170px;
    }
}

@media (max-width: 768px) {
    .logo .ls {
        display: inline-block;
    }

    .logo .lf {
        display: none;
    }

    .logo {
        width: 55px;
    }

    .header {
        margin: 0;
        box-shadow: none;
        padding: 5px 10px;
        margin-bottom: 1px;
    }

    .search-form {
        height: 35px;
        width: calc(100% - 85px);
    }

    .player-wrapper, .sidebar {
        box-shadow: none;
    }

    .sidebar {
        margin: 0;
    }

    .container {
        padding: 0;
    }

    .video-item img {
        width: 120px;
    }

    .video-item {
        padding: 5px 10px;
    }

    .video-list {
        padding-bottom: 5px;
    }

    .player-wrapper {
        margin-bottom: 2px;
    }

    .search-form input {
        background: #f1f1f1;
    }
}